#editor-ui {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  font-family: sans-serif;
  color: var(--clr-text);
}

::selection {
  background-color: var(--clr-accent);
}

* {
  box-sizing: border-box;
}

/* disable pointer event for mouse viewport navigation */
#editor-ui {
  pointer-events: none;
}

#editor-ui > * {
  pointer-events: all;
}
