.entity-inspector-head {
  background-color: var(--clr-accent);
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);

  font-size: 1.5rem;
  min-width: 15rem;
}

.entity-inspector-head__label {
  text-transform: uppercase;
}

.entity-inspector-head__entity-name {
  margin-top: var(--spacing-xs);
}
