.entity-inspector-head {
  background-color: var(--clr-accent);

  /* border-top: 4px solid var(--clr-accent); */
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);

  font-size: 2em;
  min-width: 15rem;
}

.entity-inspector-head--empty {
  border-top-width: 0px;
}

.entity-inspector-head__entity-name {
  margin-top: var(--spacing-xs);
  /* font-weight: bold; */
}

.entity-inspector-empty-state {
  padding: var(--spacing-m);
  opacity: 0.5;
  font-size: 1rem;
}
