h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.header-label {
  font-weight: normal;
  font-size: 0.75rem;
  letter-spacing: 0.065em;
  text-transform: uppercase;

  opacity: 0.5;
}

#editor-ui {
  font-size: 14px;
}

.typography-base {
  font-family: "Inter", sans-serif;
  color: var(--clr-text);
  font-size: 14px;
}
