:root {
  --clr-text: hsl(0, 0%, 100%);
  --clr-accent: rgb(155, 81, 224);
  --clr-accent-lighter: rgb(183, 115, 247);
  --clr-accent-muted: rgba(155, 81, 224, 0.5);
  --clr-bg: rgb(41, 41, 41);
  --clr-bg-darker: rgb(31, 31, 31);
  --clr-bg-lighter: rgb(59, 59, 59);
  --clr-bg-lightest: rgb(83, 83, 83);

  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;

  --shadow-default: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-size: 14px;
}
