:root {
  --clr-text: #fff;
  --clr-accent: #9b51e0;
  --clr-accent-lighter: #b773f7;
  --clr-accent-muted: rgba(155, 81, 224, 0.5);
  --clr-bg: #292929;
  --clr-bg-darker: #1f1f1f;
  --clr-bg-lighter: #3b3b3b;
  --clr-bg-lightest: #535353;

  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;

  --shadow-default: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-size: 14px;
}
