.asset-explorer-header {
  padding-left: var(--spacing-m);
}

/*2 columns layout for sidebar and files */
.asset-explorer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;

  grid-template-areas:
    "side-bar main-content"
    "side-bar bottom-bar";
}
.asset-explorer__bottom-bar {
  grid-area: bottom-bar;
}
.asset-explorer__side-bar {
  grid-area: side-bar;
}
.asset-explorer__main-content {
  grid-area: main-content;
}

.folder-content-view-container {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
