.folder-content-view {
  display: grid;
  padding-top: var(--spacing-m);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-bottom: var(--spacing-m);

  --icon-scale: 7rem;

  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--icon-scale), var(--icon-scale))
  );
}

.folder-content-view__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: left;

  color: var(--clr-text);
  background-color: transparent;
  border: none;

  --clr-selection: var(--clr-bg-lighter);

  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);

  border-radius: 4px;
}

.folder-content-view__item--focused {
  --clr-selection: var(--clr-accent-muted);
}

.folder-content-view__item > img {
  width: 100%;
  min-height: var(--icon-scale);
  object-fit: contain;
}

.folder-content-view__item--selected {
  background-color: var(--clr-selection);
}

.folder-content-view__item--selected > .folder-content-view__item-label {
  opacity: 1;
}

.folder-content-view__item-label {
  font-size: 12px;
  text-align: center;
  opacity: 0.6;
}
