.explorer-controls {
  border-top: 1px solid var(--clr-bg-lightest);
  padding: var(--spacing-s);
  display: flex;
  flex-direction: row-reverse;
}

.explorer-controls > * {
  margin-left: var(--spacing-s);
}
