.number-slider {
  font-family: monospace;

  position: relative;

  /* prevent ghost image on drag */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  cursor: col-resize;
  width: 100%;
}

.number-slider__value {
  box-sizing: border-box;

  padding: var(--spacing-xs);
  margin: 0rem;

  /* line-height: 1em; */
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;

  color: #fff;

  font-family: monospace;
  font-size: 14px;
}

.number-slider__value:focus {
  background-color: var(--clr-bg-lighter);
}
